div(data-role="header")
  h1 <%= name %>
  a(id="btnBack", href!="<%= urlBack %>", data-icon="back") Back
  a(id="btnUpd", href!="<%= urlSave %>", data-icon="edit") Save
div#codes_content(data-role="content")
  input(name='name',value!='<%= name %>')
  a(id="btnDel", href="#", data-icon="delete",data-role="button") Delete